{# Google Maps: la siguiente Key se ha obtenido siguiendo los pasos de (al no ser producción no se han impuesto restricciones a la clave): https://www.avidalia.com/blog/como-solucionar-el-google-maps-api-error-missingkeymaperror  #}
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyADQ_mTeEhtieFwFWGdweeo5HKy1M1nCu4&sensor=false&language=es"></script>


<script type="text/javascript">

function mapaRegiones(){
    var options = {
        zoom: 3
        , center: new google.maps.LatLng({{ coordenadasController.centro1  }}, {{ coordenadasController.centro2  }})
        , mapTypeId: google.maps.MapTypeId.SATELLITE
        , disableDefaultUI: true
        , disableDoubleClickZoom: true
        , keyboardShortcuts: false
        , draggable: false
        , scrollwheel: false
        , noClear: true
    };
  
    var map2 = new google.maps.Map(document.getElementById('map2'), options);
//Copyright***PENDIENTE***
//var mB1 = new google.maps.LatLng(-90, -90);
//var mB2 = new google.maps.LatLng(90, 90);
//var mB = new google.maps.LatLngBounds(mB1, mB2);

/************/
var image = "{{ asset( 'patagonia2.gif', 'imgmaparegiones' ) }}";
var point = new google.maps.LatLng({{ coordenadasController.P1centro1 }}, {{ coordenadasController.P1centro2 }});
var marker5 = new google.maps.Marker({
        position: point, 
        map: map2,
        icon: image,
        title:"Patagonia"
    });
    
/***********/    
var image = "{{ asset('pampa2.gif', 'imgmaparegiones') }}";
var point = new google.maps.LatLng({{ coordenadasController.Pcentro1 }}, {{ coordenadasController.Pcentro2 }});
var marker4 = new google.maps.Marker({
        position: point, 
        map: map2,
        icon: image,
        title:"Región Pampeana"
    });

/******************/
var image = "{{ asset('cuyo2.gif', 'imgmaparegiones') }}";
var point = new google.maps.LatLng({{ coordenadasController.Ccentro1 }}, {{ coordenadasController.Ccentro2 }});
var marker3 = new google.maps.Marker({
        position: point, 
        map: map2,
        icon: image,
        title:"Región de Cuyo"
    });

/******************/
var image = "{{ asset('noreste2.gif', 'imgmaparegiones') }}";
var point = new google.maps.LatLng({{ coordenadasController.NEcentro1 }}, {{ coordenadasController.NEcentro2 }});
var marker2 = new google.maps.Marker({
        position: point, 
        map: map2,
        icon: image,
        title:"Región del Noreste"
    });

/******************/
var image = "{{ asset('noroeste2.gif', 'imgmaparegiones') }}";
var point = new google.maps.LatLng({{ coordenadasController.NOcentro1 }}, {{ coordenadasController.NOcentro2 }});
var marker1 = new google.maps.Marker({
        position: point, 
        map: map2,
        icon: image,
        title:"Región del Noroeste"
    });

/******************/

//Dibujamos las rutas de las 5(6) regiones 
{% set i = 0  %}
    var routesNO = [
{% for resultno in coordenadasController.resultNO  %}
{% if i == 0  %}
new google.maps.LatLng({{ resultno.latitud }}, {{ resultno.longitud }})
{% endif %}

{% set i = i + 1  %}
,new google.maps.LatLng({{ resultno.latitud }}, {{ resultno.longitud }})
{% endfor %}
    ];

{% set i = 0  %}
    var routesNE = [
{% for resultne in coordenadasController.resultNE  %}
{% if i == 0  %}
new google.maps.LatLng({{ resultne.latitud }}, {{ resultne.longitud }})
{% endif %}

{% set i = i + 1  %}
,new google.maps.LatLng({{ resultne.latitud }}, {{ resultne.longitud }})
{% endfor %}
    ];

{% set i = 0  %}
    var routesC = [
{% for resultc in coordenadasController.resultC  %}
{% if i == 0  %}
new google.maps.LatLng({{ resultc.latitud }}, {{ resultc.longitud }})
{% endif %}

{% set i = i + 1  %}
,new google.maps.LatLng({{ resultc.latitud }}, {{ resultc.longitud }})
{% endfor %}
    ];

{% set i = 0  %}
    var routesP = [
{% for resultp in coordenadasController.resultP  %}
{% if i == 0  %}
new google.maps.LatLng({{ resultp.latitud }}, {{ resultp.longitud }})
{% endif %}

{% set i = i + 1  %}
,new google.maps.LatLng({{ resultp.latitud }}, {{ resultp.longitud }})
{% endfor %}
    ];

{% set i = 0  %}
    var routesP1 = [
{% for resultp1 in coordenadasController.resultP1  %}
{% if i == 0  %}
new google.maps.LatLng({{ resultp1.latitud }}, {{ resultp1.longitud }})
{% endif %}

{% set i = i + 1  %}
,new google.maps.LatLng({{ resultp1.latitud }}, {{ resultp1.longitud }})
{% endfor %}
    ];

{% set i = 0  %}
    var routesP2 = [
{% for resultp2 in coordenadasController.resultP2  %}
{% if i == 0  %}
new google.maps.LatLng({{ resultp2.latitud }}, {{ resultp2.longitud }})
{% endif %}

{% set i = i + 1  %}
,new google.maps.LatLng({{ resultp2.latitud }}, {{ resultp2.longitud }})
{% endfor %}
    ];

//Polígonos de las 5(6) regiones
 var polygon1 = new google.maps.Polygon({
        path: routesNO
        , map: map2
        , strokeColor: '#EEAA00'
        , strokeWeight: 0.3
        , strokeOpacity: 0.8
        , fillColor: '#EEAA00'
        , fillOpacity: 1
        , clickable: true
    });


 var polygon2 = new google.maps.Polygon({
        path: routesNE
        , map: map2
        , strokeColor: '#88AA00'
        , strokeWeight: 0.3
        , strokeOpacity: 0.7
        , fillColor: '#88AA00'
        , fillOpacity: 1
        , clickable: true
    });

 var polygon3 = new google.maps.Polygon({
        path: routesC
        , map: map2
        , strokeColor: '#AA00EE'
        , strokeWeight: 0.3
        , strokeOpacity: 0.8
        , fillColor: '#AA00EE'
        , fillOpacity: 1
        , clickable: true
    });


 var polygon4 = new google.maps.Polygon({
        path: routesP
        , map: map2
        , strokeColor: '#00AA88'
        , strokeWeight: 0.3
        , strokeOpacity: 0.5
        , fillColor: '#00AA88'
        , fillOpacity: 1
        , clickable: true
    });

 var polygon5 = new google.maps.Polygon({
        path: routesP1
        , map: map2
        , strokeColor: '#004466'
        , strokeWeight: 0.3
        , strokeOpacity: 0.8
        , fillColor: '#004466'
        , fillOpacity: 1
        , clickable: true
    });

 var polygon6 = new google.maps.Polygon({
        path: routesP2
        , map: map2
        , strokeColor: '#004466'
        , strokeWeight: 0.3
        , strokeOpacity: 0.8
        , fillColor: '#004466'
        , fillOpacity: 1
        , clickable: true
    });


function tratamiento_clic1(){
   parent.location.href = "{{ path('mapainteractivo', {'region': 'noroeste'}) }}";
}
function tratamiento_clic2(){
   parent.location.href = "{{ path('mapainteractivo', {'region': 'noreste'}) }}";
}
function tratamiento_clic3(){
   parent.location.href = "{{ path('mapainteractivo', {'region': 'cuyo'}) }}";
}
function tratamiento_clic4(){
   parent.location.href = "{{ path('mapainteractivo', {'region': 'pampa'}) }}";
}
function tratamiento_clic5(){
   parent.location.href = "{{ path('mapainteractivo', {'region': 'patagonia'}) }}";
}


google.maps.event.addListener(polygon1, "click", tratamiento_clic1);
google.maps.event.addListener(polygon2, "click", tratamiento_clic2);
google.maps.event.addListener(polygon3, "click", tratamiento_clic3);
google.maps.event.addListener(polygon4, "click", tratamiento_clic4); 
google.maps.event.addListener(polygon5, "click", tratamiento_clic5); 
google.maps.event.addListener(polygon6, "click", tratamiento_clic5); 

google.maps.event.addListener(marker1, "click", tratamiento_clic1);
google.maps.event.addListener(marker2, "click", tratamiento_clic2);
google.maps.event.addListener(marker3, "click", tratamiento_clic3);
google.maps.event.addListener(marker4, "click", tratamiento_clic4); 
google.maps.event.addListener(marker5, "click", tratamiento_clic5);



};
</script>

<script type="text/javascript">
window.onload = function() {

      mapaRegiones()
}
</script>

<div class="row mt-4"  stye="font-size:11px;">
<div class="col-md-12 justify-content-center text-info font-weight-bold text-uppercase bg-light p-2 mb-2" style="font-size:18px;" align="center">
   {{ 'Mapa Regiones'  }} 
</div>

<div id="map2" class="img-fluid" style="width: 90%; height: 300px; margin-left: auto; margin-right: auto;"></div>
</div>

