{% if localitySlug is not null %}
   {# Menu Centro Turístico #}
   <div class="row mt-3"  stye="font-size:11px;">
      <div class="col-md-12 justify-content-center text-light font-weight-bold text-uppercase bg-info p-3" style="font-size:14px;" align="center">

         {% set textolugarturistico = ' ' %}
         {% for label, item in _context[provinceSlug]  %}
            {% if label == localitySlug %}
               {% set textolugarturistico = item.title %}
               {{ textolugarturistico  }}
            {% endif %}
         {% endfor %}
      </div>

      <div class="col-md-12 pt-0 justify-content-center text-light bg-info" align="center" >
         <a href="{{ path('centroturistico', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': localitySlug }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == null %} bg-infoactive {% else %} bg-info {% endif %}">Presentación</a>

         {% if localitySlug not in alojamientosfaltantes %}
            <a href="{{ path('alojamiento', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': localitySlug }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == 'alojamiento' %} bg-infoactive {% else %} bg-info {% endif %}">Alojamiento</a>
         {% endif %}

         {% if localitySlug != 'ciudaddecatamarca' %}
         <a href="{{ path('excursiones', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': localitySlug }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == 'excursiones' %} bg-infoactive {% else %} bg-info {% endif %}">Excursiones</a>
         {% endif %}

         {% if pescacentroturistico is not empty %}
            <a href="{{ path('pescadeportiva', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': localitySlug }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == 'pescadeportiva' %} bg-infoactive {% else %} bg-info {% endif %}">Pesca Deportiva</a>
         {% endif %}


         <a href="{{ path('distancias', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': localitySlug }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == 'distancias' %} bg-infoactive {% else %} bg-info {% endif %}">Cuadro de distancias</a>
         <a href="{{ path('galeria', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': localitySlug }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == 'galeria' %} bg-infoactive {% else %} bg-info {% endif %}">Galería de Imágenes</a>


      </div>
   </div>

{% else %}
   {# Menu Provincial #}
   <div class="row mt-3"  stye="font-size:11px;">
      <div class="col-md-12 justify-content-center text-light font-weight-bold text-uppercase bg-secondary p-3" style="font-size:14px;" align="center">
         {% set contador = 1 %}
         {% for textos in findTextos %}
            {% if contador < 2 %}
               {{ textos.lugarturistico  }}
            {% endif %}
            {% set contador = contador + 1 %}
         {%  endfor  %}
      </div>

      <div class="col-md-12 pt-0 justify-content-center text-light bg-secondary" align="center" >
         <a href="{{ path('provincia', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': null }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == null %} bg-secondaryactive {% else %} bg-secondary {% endif %}">Presentación</a>

         {% if provinceSlug != 'entrerios' and provinceSlug != 'mendoza' %}
            <a href="{{ path('pescadeportivaprovincia', {'regionSlug': regionSlug, 'provinceSlug':provinceSlug, 'localitySlug': null }) }}" class="list-group-item list-group-item-action text-light {% if menulocal == 'pescadeportivaprovincia' %} bg-secondaryactive {% else %} bg-secondary {% endif %}">Pesca Deportiva</a>
         {% endif %}

      </div>
   </div>
{% endif %}   

