<p><b>Reserva de alojamiento desde www.DescubriendoArgentina.com</b></p>
<p>Nombre: {{ nombre }} </p>
<p>Telefono: {{ telefono }} </p>                        
<p>email: {{ direccionemail }} </p>
<br/>                                                 
<p>Entrada: {{ fechallegada }} <br/>                    
Salida: {{ fechasalida }} 
<p>Pasajeros: {{ pasajeros }} </p>                      
<br/>
<p>Consulta: {{ consulta }} </p>
<br/><br/><p>___________________________________</p>  

<p>El equipo de Descubriendoargentina.com</p>         
<p><a href="mailto:info@descubriendoargentina.com">info@descubriendoargentina.com</a></p>
<p><a href="http://www.descubriendoargentina.com">http://www.descubriendoargentina.com</a></p>
<p>___________________________________</p>            
