{% extends 'frontend.html.twig' %}

{% block bloquecentral %}
   {{ parent() }}

 {{ include("includes/breadcrumb/menuprincipal.html.twig", {menufinal: 'Casinos'}) }}


   {#   #}
   <div class="container-fluid mt-2 mb-5 bg-light"  style="font-size:12px;">
      {% if provincia == '%'  %}
      <h2 class="mt-3">Casinos en Argentina</h2>
      {% else %}
         <h2 class="mt-3">Casinos en {{ provincia  }}</h2>
      {% endif %} 
      
      {% set i = 0  %}
      {% for casinos in ppp2  %}
         <div class="justify-content-center bg-info mt-3 mb-5 p-3" align="">
            <div class="row p-3">
               <div class="col-md-4">
                  <img class="img-fluid mb-3" src="{{ asset( fotos[i] ~ '.jpg', 'imgcasinos' ) }}" border="0" alt="{{ casinos.nombre }}" align="right" style="border-left: 1px solid #FF0000; border-bottom: 1px solid #FF0000;" />      
               </div>
               <div class="col-md-8">
                  {% if casinos.siteweb != ''  %}
                  <a class="btn btn-dark mb-2" href="{{ 'http://' ~ casinos.siteweb }}"  target="_blank" role="button"><strong>{{ casinos.nombre }}</strong></a><br>
                  {% else  %}
                  <span class="btn btn-dark mb-2" role="button"><strong>{{ casinos.nombre }}</strong></span><br>
                  {% endif  %}

                  <span class="ml-3">{{ casinos.direccion }}</span><br>
                  <span class="ml-3"> {{ casinos.localidad }} {{ ' (' ~ casinos.provincia ~ ')' }} </span><br>
                  {% if casinos.telefono != ''  %}
                  <span class="ml-3">{{ casinos.telefono }}</span><br>
                  {% endif  %}
                  {% if casinos.siteweb != ''  %}
                     <div class="pt-2"> <a class="ml-3 p-2 bg-primary text-light" href="{{ 'http://' ~ casinos.siteweb }}"  target="_blank" >{{ casinos.siteweb }}</a></div>
                  {% endif  %}

               </div> 
            </div>
            <div class="row p-3">
               {{ casinos.descripcion | raw }}
            </div> 
         </div> 
         {% set i = i + 1  %}
      {% endfor %}

      <div align="center">
         <div class="col-md-4 pt-0 justify-content-center text-light bg-info" >
            <a href="{{ path('casinos') }}" class="list-group-item list-group-item-action text-light bg-info py-1" title="Realizar Nueva Búsqueda">Realizar Nueva Búsqueda</a>
         </div> 
      </div> 
   </div>

{% endblock %}
