{% extends 'frontend.html.twig' %}

{% block bloquecentral %}
	{{ parent() }}

	{% set tttt = app.request.query.get("tttt")  %}

	{# Dibujamos las Excursiones #}
	{{ include("includes/breadcrumb/menucentrotur.html.twig", {menufinal: 'Excursiones'}) }}

	<div class="container-fluid mt-2 mb-5 bg-light" style="font-size:12px;">
		{% set contador = 1 %}
		{% for textos in ppp2 %}
			{% if contador < 2 %}
				<h3 class="pt-3 pb-2">Paseos y excursiones en {{ textos.lugarturistico }}</h3>
			{% endif %}
			<div class="row pb-4">
				<div class="col-md-12 pl-0">
					<h5  align="left" class="pt-2 text-info" >{{ textos.titulo | raw }}</h5>
				</div>
				<div class="row">
					<div class="col-md-6">
						{{ textos.texto | raw }}
					</div>

					<div class="col-md-6">
						{% if excursiones[contador] == 1 %}
							<img  class="img-fluid" src="{{ asset( textos.alias ~ contador ~ '.jpg', 'imgexcursiones' ) }}" border="0" alt="{{ textos.titulo }}" hspace="5" vspace="5" align="right" style="margin-left:20px; border-left: 1px solid #FF0000; border-bottom: 1px solid #FF0000;" />
						{% endif %}
					</div>
				</div>
			</div>
			{% set contador = contador + 1 %}
		{%  endfor  %}
		{{ include("includes/tablalugares.html.twig") }}
	</div>


{% endblock %}

{# Dibujamos el menú lateral izquierdo #}
{% block sideleft %}
	{{ include("includes/menucentrotur.html.twig") }}
	{{ parent() }}
{% endblock %}

