{% extends 'frontend.html.twig' %}

{% block bloquecentral %}
	{{ parent() }}

	{% set tttt = app.request.query.get("tttt")  %}



{# Dibujamos las Regiones #}
{{ include("includes/breadcrumb/regiones.html.twig") }}

<div class="container-fluid mt-2 mb-5 bg-light" style="font-size:12px;">
   {% for textos in findTextos %}
      <h3  align="left" class="pt-2">{{ textos.lugarturistico | raw }}</h3>
      {{ include("includes/imagearticulo.html.twig") }}
      {{ textos.texto | raw }}
   {%  endfor  %}

   {{ include("includes/tablalugares.html.twig") }}

</div>

	{% endblock %}
